<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Etsuko - Japanese Restaurant Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find your favorite Japanese Restaurant in Etsuko">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <a href="#main-content" class="skip-link">skip to content</a>
    <nav>
        <div class="container navigation">
            <img src="./images/etsuko.png" alt="Etsuko Logo">

            <div id="nav-toggle">
                <button aria-label="Menu" class="toggle-button">MENU</button>
            </div>
            <div id="nav">
                <a href="/">Home</a>
                <a href="#/favorite">Favorite</a>
                <a href="https://amhanisa.com">About Us</a>
            </div>
        </div>
    </nav>

    <main id="content">

    </main>

    <footer>
        <p>
            Copyright &copy; 2020 - Etsuko
        </p>
    </footer>
</body>

</html>