nav {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 60px;

    @include desktop {
      padding: 1rem 0rem;
      height: 80px;
    }

    .nav-icon {
      width: 100px;
      height: auto;

      @include tablet {
        width: 150px;
      }

      @include desktop {
        width: 200px;
      }
    }
  }
}

#nav {
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: white;
  width: 100%;
  transition: 0.5s;

  transform: translateX(-100%);
  visibility: hidden;
  &.open {
    transform: translateX(0);
    visibility: visible;
  }

  @include desktop {
    position: static;
    width: auto;
    transform: translateX(0);
    visibility: visible;
  }

  a {
    display: block;
    padding: 1rem 2rem;
    min-height: 44px;
    min-width: 44px;
    text-decoration: none;
    font-weight: 500;
    color: $gray;

    @include desktop {
      display: inline-block;
      padding: 0.75rem 1rem;
    }
  }
}

#nav-toggle {
  display: block;

  @include tablet {
    display: block;
  }
  @include desktop {
    display: none;
  }
}

.toggle-button {
  min-height: 44px;
  min-width: 44px;
  padding: 0.75rem 1rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid $gray;
  font-weight: 500;
  color: $dark-gray;

  &:hover {
    background-color: $gray;
  }
}
