$tablet-width: 640px;
$desktop-width: 1024px;

$dark-gray: #1f2937;
$gray: #6b7280;
$light-gray: #9ca3af;
$blue: #3b82f6;
$orange: #e86a58;
$green: #10b981;
$red: #ef4444;
$dark-red: #dc2626;
$yellow: #fbbf24;
